<h2>ユーザー新規登録</h2>

<div class="field">
  <%= f.label :employee_number %><br />
  <%= f.text_field :employee_number %>
</div>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<%= render "devise/shared/links" %>
