<div class="document-actions" style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; margin: 10px;">
  <%= link_to '編集', edit_document_path(@document), class: 'btn btn-primary' %>
  <%= link_to '削除', document_path(@document), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
</div>

  <title>書類詳細</title>
    <%= stylesheet_link_tag 'documents', media: 'all' %>
</head>
<body>
  <h1>書類詳細</h1>
  <table class="details-table">
    <tr>
      <th>受領日</th>
      <td><%= @document.received_date %></td>
    </tr>
    <tr>
      <th>手続き開始日</th>
      <td><%= @document.start_date %></td>
    </tr>
    <tr>
      <th>手続き期日</th>
      <td><%= @document.due_date %></td>
    </tr>
    <tr>
      <th>顧客名</th>
      <td><%= @document.customer_name %></td>
    </tr>
    <tr>
      <th>書類名</th>
      <td><%= @document.document_name&.name || "未設定" %></td>
    </tr>
    <tr>
      <th>件数</th>
      <td><%= @document.quantity.value %></td>
    </tr>
    <tr>
      <th>登録担当者</th>
      <td><%= @document.user.user_name %></td>
    </tr>
    <tr>
      <th>登録時間</th>
      <td><%= @document.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
    </tr>
  </table>