<!DOCTYPE html>
<html>
<head>
  <title>DocRelay</title>
 <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
 <header>
    <div class="header-container">
      <h1><%= link_to 'DocRelay', root_path, class: 'home-link' %></h1>
      <div class="user-info">
        <% if user_signed_in? %>
          <span>ようこそ、<%= current_user.user_name %>さん</span>
          <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-logout' %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-login' %>
        <% end %>
      </div>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
</body>

</html>
